/* MOBILE */
@media screen and (max-width: 750px) {

}
    
    /* TABLET */
@media screen and (min-width: 750px) {
.new-note{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
        border: 2px solid black;
        margin-left: 6%;
        margin-right: 6%;
        margin-top: 4%;
        padding-left: 4%;
        padding-top: 4%;
        padding-bottom: 4%;
        cursor: pointer;
    }
.tittle{
    border: none;
    font-size: 1.8rem;
    outline: none;
    width: 450px;
}

.noteContent{
    border: none;
    outline: none;
    font-size: 1.4rem;
    width: 650px;
    margin-bottom: 20%;
}
.icons{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
.newImage{
    width: 6vh;
}
.colorNote{
    width: 6vh;
}
.deleteNote{
    width: 6vh; 
}
.sendNote{
    position: relative;
    left: 40%;
    width: 8vh; 
    background-color: #EBD5EE;
    border: none;
    border-radius: 20px;
}
.sendNoteIcon{
    position: relative;
    left: 7%;
    width: 4.5vh; 
}
.arrowBack{
    position: relative;
    left: 86%;
    width: 5vh; 
}
}
    
 /* DESKTOP */
@media screen and (min-width: 850px) {
}