@media screen and (max-width: 750px) {
.logoTK{
  width: 25vh;
}

.button-register{
  background-color: #995fc0d7;
  color: white ;
  font-size: 1.08rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: #5e327bd7 solid;
  border-radius: 5px;
}
.form-register{
  display: flex;
  flex-direction: column;
  align-items: center; 
  row-gap: 20px;
}
.container-register{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 28%; 
  row-gap: 25px;
}

}

/* TABLET */
@media screen and (min-width: 750px) {
  body {
    background-color: #f2def5;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    font-family: Inter;
  }
  .logoTK{
    width: 25vh;
  }
  .button-register{
    background-color: #995fc0d7;
    color: white ;
    font-size: 1.08rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #5e327bd7 solid;
    border-radius: 5px;
  }
  .form-register{
    display: flex;
    flex-direction: column;
    align-items: center; 
    row-gap: 20px;
  }
  .container-register{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 28%; 
    row-gap: 25px;
  }
   
  }

/* DESKTOP */
@media screen and (min-width: 850px) {
  body {
    background-color: #f2def5;
  }
  
  .logoTK{
    width: 25vh;
  }

  .button-register{
    background-color: #995fc0d7;
    color: white ;
    font-size: 1.08rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: #5e327bd7 solid;
    border-radius: 5px;
  }
  .form-register{
    display: flex;
    flex-direction: column;
    align-items: center; 
    row-gap: 20px;
  }
  .container-register{
    position: absolute;
    left: 30%;
    background-color: white;
    width: 40%;
    height: 63%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 5%; 
    row-gap: 25px;
    padding-top: 2%;
    border: 1px solid #5e327bd7;
  }
  
}
